## Detalles API

https://www.ree.es/es/datos/apidatos

In [2]:
from api import ree_api
from utils import lim2id

category = 'demanda' 
widget = 'evolucion' 


start_date = '2019-01-01T00:00' #yyyy-mm-dd
end_date = '2019-12-01T00:00'
time_trunc = 'day'
geo_id = lim2id('canarias')

ree_stream = ree_api(category, widget)
df_canarias = ree_stream.query_ree_api(start_date, end_date, time_trunc, geo_id)

df_canarias

Requesting URL: https://apidatos.ree.es/en/datos/demanda/evolucion

With parameters:
self: <api.ree_api object at 0x1084d1e80>
start_date: 2019-01-01T00:00
end_date: 2019-12-01T00:00
time_trunc: day
geo_ids: 8742
geo_limit: None
geo_trunc: None

/Users/nkhvatkin/Documents/FormacionInicial/Code/Projects/Innovatom2025Code/API/api.py:70: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df.index = pd.to_datetime(df.index)

                              Demand
datetime
2019-01-01 00:00:00+01:00  21757.476
2019-01-02 00:00:00+01:00  24668.202
2019-01-03 00:00:00+01:00  24991.244
2019-01-04 00:00:00+01:00  25180.339
2019-01-05 00:00:00+01:00  23951.403
...                              ...
2019-12-27 00:00:00+01:00  24930.199
2019-12-28 00:00:00+01:00  24020.923
2019-12-29 00:00:00+01:00  23074.565
2019-12-30 00:00:00+01:00  24879.108
2019-12-31 00:00:00+01:00  24948.787

[365 rows x 1 columns]